/* functional style for paste-app */

.loggedIn {
    display:none;
}

.loggedOut {
    display:none;
}

div#paste-error {
    text-align:center;
    font-weight:bold;
}

pre, textarea {
    font-family: monospace;
    line-height: normal;
}

.byline {
    font-style: italic;
    padding-top: 3px;
}

div.small .byline a {
    text-decoration: none;
}

div.small pre {
    background-color: #e3e3e3;
    border: 1px solid gray;
    padding: 3px;
    overflow: hidden;
    max-height: 200px;
}

