/* functional style for paste-app */

body {
    background-color: #E6E7D0;
    border-top: 4px solid #7E8250;
}

hr {
    color: #7E8250;
    background-color: #7E8250;
    height: 2px;
}

.about {
    display:none;
}

div#paste-error {
    text-align:center;
    font-weight:bold;
    color: #823332;
}

pre, textarea {
    font-family: monospace;
    line-height: normal;
}

div.view pre code.undefined {
    white-space: pre-wrap;
}

div.view pre code {
    overflow-y:auto;
}

.byline {
    font-style: italic;
    padding-top: 2px;
}

div.small .byline a {
    text-decoration: none;
}

div.small pre {
    background-color: #D3D4B6;
    border: 1px solid gray;
    padding: 3px;
    white-space: pre-wrap;
    overflow: hidden;
    max-height: 175px;
}

footer div {
    text-align:center;
    padding-bottom:20px;
    white-space:nowrap;
}

footer div a {
    padding: 5px 1%;
}

footer div a, footer div img {
    vertical-align:middle;
}

h1 a {
    text-decoration:none;
}

h1 img {
    margin-left: -7px;
}

body {
    font-family: "Avenir Next", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
    font-family: "Avenir Next", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

strong {
    font-weight: 600;
}

a#more {
    color:#878787;
}

a#logOutButton {
    border: 2px solid #878787;
    border-radius: 5px;
    padding: 0 3px;
    font-family: "Avenir Next", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-decoration:none;
    background-color:#D3D4B6;
}

a#logOutButton:hover {
    background-color:#7E8250;
}