/* functional style for paste-app */

.loggedIn {
    display:none;
}

div#paste-error {
    text-align:center;
    font-weight:bold;
}

pre.prettyprint {
    background-color:#fefefe;
}  

/* overrides for Types&Grids base.css */

textarea {
    margin-bottom:5px;
}

pre.reset {
    font-family:monospace;
    color:#111;
    line-height:normal;
    font-size:13px!important;
    font-weight:normal;
    font-style:normal;
}


/* http://webreflection.blogspot.com/2006/12/reset-element-css.html */

.reset,.reset div,.reset dl,.reset dt,.reset dd,.reset ul,.reset ol,.reset li,.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6,.reset pre,.reset form,.reset fieldset,.reset input,.reset textarea,.reset p,.reset blockquote,.reset th,.reset td
{margin:0;padding:0;}

.reset table
{border-collapse:collapse;border-spacing:0;}

.reset fieldset,.reset img
{border:0;}

.reset address,.reset caption,.reset cite,.reset code,.reset dfn,.reset em,.reset strong,.reset th,.reset var
{font-style:normal;font-weight:normal;}

.reset ol,.reset ul
{list-style:none;}

.reset caption,.reset th
{text-align:left;}

.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6
{font-size:100%;font-weight:normal;}

.reset q:before,.reset q:after
{content:'';}

.reset abbr,.reset acronym
{border:0;}

.reset b, .reset strong
{font-weight: bold;}

